/*
 * style.css
 * Nate B. Wangsutthitham
 * @natebwangsut | <nate.bwangsut@gmail.com>
 * Created March 30, 2018
 * ---
 * Styling sheet for aws-minecraft-web page.
 */

/****************************************************************************/
/* Imports and Page Setup                                                   */
/****************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Quattrocento');

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 20px;
    /* background-color: rgb(190,240,255); */
    background-color: rgb(50,50,50);
}

/****************************************************************************/
/* Typography                                                               */
/****************************************************************************/

/****************************************************************************/
/* Class                                                                    */
/****************************************************************************/

.section {
    margin-bottom: 20px;
}